%section.push-left
  %header
    %h1 Bruno Coelho
    %strong
      Student, self-taught web developer.
      %br
        Always working on something.
        %br
  %article
    %p
      I’m an Electronic Engineering, Telecommunications and Computers student in Lisbon, Portugal with a special craving for programming and technology in general. I'm a 23 year old web developer with an entrepreneurial spirit. I've been developing web apps and static websites for about 2 years and just love it.
    %p
      I have attended 3 Day Startup and I've worked as an intern for a Summer on GoClapp. I’ve also worked for about one year on a project that aimed to connect students that needed tutoring with qualified tutors (Explicas.me).
    %p
      Lately I’ve been studying Agile Development techniques using Ruby on Rails and Test Driven Development.
    %p
      I'm also always eager to learn something new and/or work on new projects, either they are mine or as a freelancer.
  %hr/
  %article
    %h2 Work
    %ul
      %li
        %strong Seedrs
        %a{:href => "http://seedrs.com", :target => "_blank"} +
      %li
        %p Summer internship developing in Rails.
      %li
        %strong Explicas.me
        %a{:href => "http://explicas.me", :target => "_blank"} +
      %li
        %p MVP for a platform where students can easily find a tutor that best suits him.
      %li
        %strong GoClapp
        %a{:href => "http://goclapp.com", :target => "_blank"} +
      %li
        %p Front-end development (mainly JavaScript) and some back-end (PHP/MySQL). A great learning experience, not only on development but also on entrepreneuring.
      %li
        %strong Freelancing
      %li
        %p Some minor projects and websites for friends.
    %hr/
    %h2 Education
    %ul
      %li
        %strong Self-taught
      %li
        %p Ruby on Rails, Sinatra, PHP, MySQL, jQuery, HTML, CSS.
      %li
        %strong ISEL
        %a{:href => "http://isel.pt", :target => "_blank"} +
      %li
        %p
          Electronic Engineering and Telecommunications (still studying).
          %br Experience with Java and C.
    %hr/
    %h2 I've also...
    %ul
      %li
        %strong Attended 3 Day Startup @Porto
        %a{:href => "http://porto.3daystartup.org/", :target => "_blank"} +
      %li
        %p Without a specific project.
      %li
        %strong Attended Startup Pirates @Porto
        %a{:href => "http://startuppirates.org/porto", :target => "_blank"} +
      %li
        %p 2° place with explicas.me.
    %hr/
    %h2 Interests
    %ul
      %li
        %strong Music
      %li
        %strong Travel
      %li
        %p European cities
    %hr/