
.margin-top
  %h2 Bruno Coelho
  %p Ruby on Rails Developer

  .md-break
    %br

  %small= mail_to "work@bruno.codes"

  .sm-break
    %br

  = link_to "https://github.com/bcoelh0" do
    %i.fa.fa-github-alt

  = link_to "https://pt.linkedin.com/in/brunocsncoelho/", class: "give-me-some-room" do
    %i.fa.fa-linkedin

  = link_to "https://twitter.com/bcsnc", class: "give-me-some-room" do
    %i.fa.fa-twitter



